{% extends "base/base.html" %}

{% block title %}
  CREAR VISTA DE CIUDAD
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form" style="margin: 100px; color: rgb(0, 17, 112);">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success form-control" style="background-color: rgb(0, 70, 0); color: rgb(255, 255, 255);">Crear Ciudad </button>
        <br>
        <a href="{% url 'core:list_ciudades' %}" class="btn btn-outline-warning form-control" style="background-color: rgb(172, 187, 0); color: rgb(255, 255, 255);" >Cancelar</a>
    </form>
{% endblock content %}