{% extends "base/base.html" %}

{% block title %}
ELIMINAR VISTA DE ESTADIOS
{% endblock title %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
            <div class="card-header">   Eliminar Estadio</div>
            <div class="card-body">
              <h4 class="card-title">{{ object.estadio_name }}</h4>
              <p>¿Realmente deseas eliminar este estadio?</p>
              <button type="submit" class="btn btn-danger">Eliminar Estadios</button>
              <a href="{% url 'core:list_estadios' %}" class="btn btn-warning">Cancel</a>
            </div>
          </div>
        
        
        
    </form>
{% endblock content %}  
