{% extends "base/base.html" %}

{% block title %}
VISTA DETALLADA DE ESTADIO
{% endblock title %}

{% block content %}
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            {{ estadio }}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class = "accordion-body">
          <strong>Este es el estadio: {{ estadio.nombre }}.</strong> Está ubicado en {{ estadio.ciudad }}, <br>
          con una capacidad de {{ estadio.capacidad }} espectadores.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Detalles
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <a href="{% url 'core:list_estadios' %}" class="btn btn-link">Volver a la lista</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
