{% extends "base/base.html" %}

{% block title %}
  VER LISTA CIUDADES
{% endblock title %}

{% block content %}
<br>
<hr>
    <a href="{% url 'core:create_ciudades' %}" class="btn btn-outline-success form-control">Crear una nueva ciudad</a>
    <table class="table table-striped table-hover">
        <thead>
            <th style="background-color: black; color: white; text-align: center;">ID</th>
            <th style="background-color: black; color: white; text-align: center;">NOMBRE DE LA CIUDAD</th>
            <th style="background-color: black; color: white; text-align: center;">PAÍS</th>
            <th style="background-color: black; color: white; text-align: center;"></th>
            <th style="background-color: black; color: white; text-align: center;">ACCIONES</th>
            <th style="background-color: black; color: white; text-align: center;"></th>
        </thead>
        <tbody>
            {% for ciudad in ciudades %}
                <tr>
                    <td style="background-color: black; color: white;  text-align: center;">{{ ciudad.id }}</td>
                    <td style="background-color: gray;">{{ ciudad.nombre }}</td>
                    <td style="background-color: rgb(186, 186, 186); text-align: center;">{{ ciudad.pais }}</td>
                    <td style="text-align: center;"><a href="{% url 'core:detail_ciudades' ciudad.id %}" class="btn btn-outline-info">Detalle</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:update_ciudades' ciudad.id %}" class="btn btn-outline-warning">Actualizar</a></td>
                    <td style="text-align: center;"><a href="{% url 'core:delete_ciudades' ciudad.id %}" class="btn btn-outline-danger">Eliminar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>    

{% endblock content %}
