{% extends "base/base.html" %}

{% block title %}
ACTUALIZAR VISTA DE ESTADIO
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-primary form-control">Update Product</button>
        <br>
        <a href="{% url 'core:list_estadios' %}" class="btn btn-outline-warning form-control">Cancel</a>
    </form>
{% endblock content %}
