header{
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    position: fixed;
    z-index: 100;
}

nav{
    float: left;
}

nav ul{
    list-style: none;
    overflow: hidden;
}

nav ul li{
    float: left;

font-family: 'Times New Roman', Times, serif;
font-size: 16px;
}

nav ul li a{
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;


}
nav ul li:hover{
    background: tomato;
}

body{
    background-color: lightblue;
}
h1{
    padding-top: 100px;
    text-align: center;
}

section{
    background-color: lightgoldenrodyellow;
}
section p{
    color: #110010;
    text-align: justify;
    padding: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    border: #110010 solid;
    outline: blue dotted 10px;
}

aside{
    background-color: lightskyblue;
}

.center{
    text-align: center;
}

/* .center{
    text-align: center;
} */

body{
    background-image: url('ganyu.png');
}

.border{
    border-width: 10px;
    border-style: solid;
    border-color: blue  ;
    border-width: 5px 20px;
    border-radius: 5px;
}

p {
    border-top-style: dotted;
    border-right-style: dashed;
    border-bottom-style: groove;
    border-left-style: solid;
  }

  .margen{
    margin-top: 100px;
  }

  .space{
    padding: 30px;
  }

  div{
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
  } 

  table , th, td{
    width: 100%;
    background-color: powderblue;
    border: 1px solid #110010 ;
    border-collapse: collapse;
  }

  p{
    text-indent: 50px;
    letter-spacing: 5px;
    line-height: 2.0;
    word-spacing: 15px;
  }
  

  .size-link{
    font-size: 200px;
  }

  #alink{
    outline: 10px  green solid;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px;
  }

  #alink:hover{
    background-color: blue;
    color: white;
  }

  button{
    background-color: transparent;
    outline: 10px  green solid;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    height: 10%;
  }

button:hover{
    background-color: blue;
    color: white;
}